@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?tomleg');
    src:  url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?tomleg') format('truetype'),
      url('../fonts/icomoon.woff?tomleg') format('woff'),
      url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
.de2 {
    color:#de2719;
   }
 body {
    background-color: #f4f4f4;
  }
i {
    font-family: 'icomoon';
}
a {
    font-size: 12px;
    color: #9b9d9c;
    text-decoration: none;
}
a:hover {
    color: #de2719 !important;
}
.w {
    width: 1190px;
    margin: 0 auto;
}
header {
    height: 80px;
    background-color: #d01c1f;
}
.shortcut {
    height: 29px;
    line-height: 26px;
    background-color: #e3e4e6;
    border: 1px solid #ccc;
}
.city {
    float: left;
    margin-left: 10px;
    font-size: 12px;
}
.city i {
    color: #de2719;
}
.city span {
    color: #9b9d9c;
}
.shortcut_right {
    float: right;
}
.shortcut_right li {
    float: left;
}
.shortcut_right li:nth-child(even) {
    width: 1px;
    height: 10px;
    background-color: #d0d1d3;
    margin: 10px 12px 0;
}
.shortcut_right li:last-child {
    margin-right: 10px;
}
.shortcut_right li i {
    font-size: 12px;
    color: #9b9d9c;
}
.header {
    height: 140px;
    background-color: #fff;
}
.header .w {
    position: relative;
}
.logo {
    width: 190px;
    height: 140px;
    background:url(../images/logo_03.png) -8px -3px no-repeat;
}
.logo a {
    font-size: 0;
}
.search {
    position: absolute;
    top: 25px;
    left: 260px;
    width: 546px;
    height: 32px;
    /* background-color: pink; */
    border: 2px solid #de2719;
}
.search input {
    float: left;
    width: 488px;
    height: 32px;
    padding-left: 15px;
}
.search button {
    float: right;
    width: 58px;
    height: 32px;
    background-color: #de2719;
}
.search button i {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
}
.car a{
    position: absolute;
    top: 25px;
    left: 830px;
    width: 130px;
    height: 34px;
    line-height: 34px;
    color: #de2719;
    font-size: 12px;
    text-align: center;
    border: 1px solid #f0f0f0;
}
.car i {
    font-size: 14px;
    margin-right: 20px;
}
.car em {
    position: absolute;
    top: 1px;
    left: 29px;
    height: 15px;
    width: 16px;
    color: #fff;
    background-color: #de2719;
    display: inline-block;
    line-height: 15px;
    border-radius: 7px;
    padding:0 1px;
}
.hotwords {
    position: absolute;
    top: 63px;
    left: 260px;
    width: 550px;
    height: 20px;
}
.hotwords a {
    margin-right: 5px;
}
.oppo {
    position: absolute;
    top: 10px;
    right: 0px;
    width: 190px;
    height: 120px;
}
.navitems {
    position: absolute;
    left: 204px;
    bottom: 0;
    height: 40px;
    line-height: 40px;
}
.navitems ul li {
    float: left;
    margin: 0 11px;
}
.navitems li a {
    font-size: 15px;
    color: #333;
}
.navitems li .de2 {
    font-weight: 700;
    color: #de2719;
}
/* footer部分 */
.mod_service {
    padding: 30px 0;
    border-bottom: 1px solid #ccc;
}
.mod_service ul {
    height: 42px;
}
.mod_service li {
    position: relative;
    float: left;
    width: 297px;
    height: 42px;
    line-height: 42px;
}
.mod_service li h5 {
    position: absolute;
    top: 0;
    left: 37px;
    width: 36px;
    height: 42px;
    font-size: 0;
    background:url(../images/ww.png) 0px -191px no-repeat;
}
.mod_service li p {
    margin-left: 82px;
    font-weight: 700;
}
.mod_help {
    height: 160px;
    padding: 25px 0;
    border-bottom: 1px solid #ccc;
}
.mod_help dl {
    width: 198px;
    float: left;
}
.mod_help dl dt {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 9px;
}
.mod_help dd {
    font-size: 12px;
    line-height: 22px;
}
.mod_help dd a {
    color: #555;
}
.mod_help dl .last {
    margin-bottom: 18px;
}
.mod_help dl:last-child {
    width: 200px;
    text-align: center;
    background: url(../images/ww.png) 0px -20px no-repeat;
}
.mod_copyright {
    text-align: center;
}
.mod_copyright .links {
    margin-top: 10px;
}
.mod_copyright .links a{
    color: #000;
    font-size: 12px;
}
.mod_copyright em {
    font-size: 12px;
    opacity: .3;
    margin: 0 4px;
}
.mod_copyright_info {
    margin-bottom: 40px;
}
.mod_copyright_info span {
    color: #9b9d9c;
    font-size: 12px;
}