.fl {
    float: left;
}
.fr {
    float: right;
}
.grid {
    margin-top: 10px;
    height: 470px;
}

.grid_col1 {
    position: relative;
    width: 190px;
    height: 100%;
    margin-right: 10px;
    color: #464646;
    font-size: 12px;
    background-color: #fefefe;
}
.ad {
    position: absolute;
    top: 0;
    left: -272px;
    width: 272px;
    height: 470px;
}
.ad_r {
    position: absolute;
    top: 0px;
    left: 272px;
    width: 0;
    height: 470px;
    z-index: 999;
    background: url(../images/big.jpg.webp) no-repeat;
    transition: all .3s;
}
.ad:hover .ad_r {
    width: 790px;
}
.grid_col1 ul {
    padding: 12px 0;
}
.grid_col1 ul li {
    height: 25px;
    line-height: 25px;
    padding-left: 18px;
}
.grid_col1 ul li a {
    color: #464646;
    font-size: 14px;
}
.grid_col1 ul li:hover {
    background-color: rgb(217,217,217);
}
.grid_col2 {
    position: relative;
    width: 590px;
    margin-right: 10px;
    height: 100%;
}
.grid_col2 .prev,
.grid_col2 .next,
.grid_col3 .prev,
.grid_col3 .next {
    position: absolute;
    transform: translateY(-50%);
    width: 25px;
    height: 35px;
    background-color: #9b9999;
    text-align: center;
    line-height: 35px;
    opacity: .5;
    color: rgba(255,255,255,.8);
}
.grid_col2 .prev,
.grid_col3 .prev {
    top: 50%;
    left: 0;
    border-radius: 0 16px 17px 0;
}
.grid_col2 .next,
.grid_col3 .next {
    top: 50%;
    right: 0;
    border-radius: 16px 0 0 17px;
}
.grid_col2_nav ul {
    position: absolute;
    left: 30px;
    bottom: 12px;
    height: 15px;
    width: 120px;
}
.grid_col2_nav ul li {
    float: left;
    margin-right: 5px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #f4f4f4;
}
.grid_col2_nav ul li:hover {
    background-color: red;
}
.grid_col3 {
    position: relative;
    width: 190px;
    margin-right: 10px;
    height: 100%;
}
.grid_col3 .a {
    height: 150px;
    width: 190px;
    background-color: pink;
}
.grid_col3 .top {
    margin-bottom: 10px;
}
.grid_col3 .center {
    margin-bottom: 10px;
}
.grid_col3 .none {
    display: none;
}
.grid_col3:hover .none {
    display: block;
}
.grid_col4 {
    width: 190px;
    height: 100%;
    background-color: #fff;
}
.login {
    width: 170px;
    height: 101px;
    padding-left: 20px;
}
.login .login_t {
    width: 100%;
    height: 67px;
}
.login_t .touxiang {
    float: left;
    width: 44px;
    height: 44px;
    margin-top: 15px;
}
.login_t .touxiang img {
    border-radius: 50%;
}
.login_t .huanying {
    float: left;
    margin: 18px 0 0 8px;
    width: 116px;
    height: 38px;
    line-height: 20px;
    font-size: 12px;

}
.login_t .huanying a {
    font-size: 12px;
    color: #333333;
}
.login_b {
    width: 150px;
    height: 25px;
    padding-bottom: 9px;
    border-bottom: 1px solid #ccc;
    margin-right: 20px;
}
.login_b a {
    display: inline-block;
    width: 70px;
    height: 25px;
    border-radius: 12px;
    color: #fff;
    line-height: 25px;
    text-align: center;
}
.login_b .one {
    margin-right: 3px;
    background-color: #e1251b;

}
.login_b .two {
    color: #d6c988;
    background-color: #363634;
}
/* 京东快报模块 */
.news {
    height: 115px;
    width: 160px;
    padding: 15px 15px 0 15px;
}
.newsheader h5 {
    float: left;
}
.newsheader a {
    float: right;
}
.newsbody {
    font-size: 12px;
    margin-top: 25px;
    height: 80px;
    width: 160px;
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}
.newsbody li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 22px;
}
.newsbody li a {
    color: #666;
}
.newsbody li span {
    display: inline-block;
    width: 35px;
    height: 15px;
    background-color: #fdeeed;
    text-align: center;
    line-height: 15px;
    margin-right: 5px;
    color: #e43930;
}
.extend {
    width: 190px;
    height: 239px;
}
.extend a{
    padding: 10px 0 0 20px;
    display: block;
    color: #000;
}
.extend li {
    width: 63px;
    height: 59px;
    float: left;
}
.extend li em {
    display: block;
    width: 25px;
    height: 25px;
    background-color: skyblue;
}